
<div class="container">
    <h2>จัดการข้อมูลประโยคในกลุ่มของการเรียนภาษา</h2>
    <button type="button"  class="btn btn-primary" (click)="add()">เพิ่มข้อมูล</button>     
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>รหัส</th>
          <th>ชื่อกลุ่มการเรียนภาษา</th>
          <th>ประโยค</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    <a class="btn btn-danger" [routerLink]="['/home']"  role="button">ไปยังหน้าแรก</a>
</div>