
<div class="container">
    <h2>จัดการข้อมูลกลุ่มของการเรียนภาษา</h2>
    <button type="button"  class="btn btn-primary" (click)="add()">เพิ่มข้อมูล</button>     
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>รหัส</th>
          <th>ชื่อ</th>
          <th>รายละเอียด</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of category; let i =index">
          <td><button type="button"  class="btn btn-primary" (click)="delete(data)">ลบ</button>  </td>
          <td>{{i+1}}</td>
          <td>{{data.value.name}}</td>
          <td>{{data.value.description}}</td>
        </tr>
      </tbody>
    </table>
</div>